<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <h1>Listing <%= @dojos.length %> Dojos</h1>
        <% if flash[:success] %>
            <p style="color: green"><%= flash[:success] %></p>
        <% end %>
        <table class="table">
            <thead>
            <tr>
                <th>Coding Dojo Branch</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <% @dojos.each { |dojo| %>
                <tr>
                    <td><%= dojo.branch %></td>
                    <td><%= dojo.street %></td>
                    <td><%= dojo.city %></td>
                    <td><%= dojo.state %></td>
                    <td> <a href="/dojos/<%= dojo.id %>">Show</a> | <a href="/dojos/<%= dojo.id %>/edit">Edit</a> | <a href="/dojos/<%= dojo.id %>" data-method="delete">Destroy</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/dojos/new">New Dojo</a>
    </body>
</html>
